<h2>Feature 2</h2>

<button id="new-test">Create a new test</button>

<ul>
  <li><a href="">test 1</a>
      <select name="test_state" id="test_state">
        <option value="undefined">undefined</option>
        <option value="passed">passed</option>
        <option value="failed">failed</option>
      </select>
  </li>
  <li><a href="">test 2</a>
      <select name="test_state" id="test_state">
        <option value="undefined">undefined</option>
        <option value="passed">passed</option>
        <option value="failed">failed</option>
      </select>
  </li>
  <li><a href="">test 3</a>
      <select name="test_state" id="test_state">
        <option value="undefined">undefined</option>
        <option value="passed">passed</option>
        <option value="failed">failed</option>
      </select>
  </li>
  <li>
      <a href="">test 6</a>
      <select name="test_state" id="test_state">
        <option value="undefined">undefined</option>
        <option value="passed">passed</option>
        <option value="failed">failed</option>
    </select>
  </li>
  <li>
      <a href="">test 7</a>
      <select name="test_state" id="test_state">
        <option value="undefined">undefined</option>
        <option value="passed">passed</option>
        <option value="failed">failed</option>
    </select>
  </li>
</ul>
