<h2>Features</h2>

<button id="new-feature">Create a new feature</button>

<ul>
  <li><a href="">feature 1</a></li>
  <li><a href="">feature 2</a></li>
  <li><a href="">feature 3</a></li>
  <li><a href="">feature 6</a></li>
  <li><a href="">feature 7</a></li>
</ul>
